<div class="container">

  <div class="row col-sm-12">
    <hr />
  </div>

  <div class="container  upload-container">
    <h2>Upload and Analyze</h2>
    <upload></upload>
  </div>


  <div class="container">
    <h2>Analyzed Images</h2>

    <button class="btn btn-info" [disabled]="loading" (click)="fetchImages()">
      Refresh
    </button>
    <div class="image-container container">
      <div *ngFor="let image of images">
        <image-detail [image]="image"></image-detail>


      </div>
    </div>
  </div>



  <footer>
    <p>&copy; 2020 - Object Detection</p>
  </footer>

</div>